<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>Resources.UserCounts</listener-class>
    </listener>
    <servlet>
        <servlet-name>Products</servlet-name>
        <servlet-class>Resources.ManageProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>Resources.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManage</servlet-name>
        <servlet-class>Resources.ProductManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorManage</servlet-name>
        <servlet-class>Resources.DoctorManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HospitalManage</servlet-name>
        <servlet-class>Resources.HospitalManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpaManage</servlet-name>
        <servlet-class>Resources.SpaManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>Resources.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartManager</servlet-name>
        <servlet-class>Resources.CartManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManagement</servlet-name>
        <servlet-class>Resources.UserManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartItemCount</servlet-name>
        <servlet-class>Resources.CartItemCount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartConverter</servlet-name>
        <servlet-class>Resources.CartConverter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tester</servlet-name>
        <servlet-class>Resources.Tester</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCountManager</servlet-name>
        <servlet-class>Resources.UserCountManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductStockManager</servlet-name>
        <servlet-class>Resources.ProductStockManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrnManager</servlet-name>
        <servlet-class>Resources.GrnManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceManager</servlet-name>
        <servlet-class>Resources.InvoiceManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCustomerDetails</servlet-name>
        <servlet-class>Resources.AdminCustomerDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>session_remove</servlet-name>
        <servlet-class>session_remove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserDetails</servlet-name>
        <servlet-class>Resources.AdminUserDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserActivityManager</servlet-name>
        <servlet-class>Resources.UserActivityManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductManager</servlet-name>
        <servlet-class>Resources.ViewProductManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewManager</servlet-name>
        <servlet-class>Resources.UserViewManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewProfile</servlet-name>
        <servlet-class>Resources.UserViewProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WishListManager</servlet-name>
        <servlet-class>Resources.WishListManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManagement</servlet-name>
        <servlet-class>Resources.OrderManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillingProcesser</servlet-name>
        <servlet-class>Resources.BillingProcesser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OfferManager</servlet-name>
        <servlet-class>Resources.OfferManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionInvalidate</servlet-name>
        <servlet-class>Resources.SessionInvalidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAccount</servlet-name>
        <servlet-class>Resources.AdminAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminInvoiceGrn</servlet-name>
        <servlet-class>Resources.AdminInvoiceGrn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Products</servlet-name>
        <url-pattern>/Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManage</servlet-name>
        <url-pattern>/ProductManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorManage</servlet-name>
        <url-pattern>/DoctorManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HospitalManage</servlet-name>
        <url-pattern>/HospitalManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpaManage</servlet-name>
        <url-pattern>/SpaManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartManager</servlet-name>
        <url-pattern>/CartManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManagement</servlet-name>
        <url-pattern>/UserManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartItemCount</servlet-name>
        <url-pattern>/CartItemCount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartConverter</servlet-name>
        <url-pattern>/CartConverter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tester</servlet-name>
        <url-pattern>/Tester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCountManager</servlet-name>
        <url-pattern>/UserCountManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductStockManager</servlet-name>
        <url-pattern>/ProductStockManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrnManager</servlet-name>
        <url-pattern>/GrnManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceManager</servlet-name>
        <url-pattern>/InvoiceManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCustomerDetails</servlet-name>
        <url-pattern>/AdminCustomerDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>session_remove</servlet-name>
        <url-pattern>/session_remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserDetails</servlet-name>
        <url-pattern>/AdminUserDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserActivityManager</servlet-name>
        <url-pattern>/UserActivityManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductManager</servlet-name>
        <url-pattern>/ViewProductManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewManager</servlet-name>
        <url-pattern>/UserViewManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewProfile</servlet-name>
        <url-pattern>/UserViewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WishListManager</servlet-name>
        <url-pattern>/WishListManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManagement</servlet-name>
        <url-pattern>/OrderManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillingProcesser</servlet-name>
        <url-pattern>/BillingProcesser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OfferManager</servlet-name>
        <url-pattern>/OfferManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionInvalidate</servlet-name>
        <url-pattern>/SessionInvalidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAccount</servlet-name>
        <url-pattern>/AdminAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminInvoiceGrn</servlet-name>
        <url-pattern>/AdminInvoiceGrn</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
    
    <error-page>
        <error-code>404</error-code>
        <location>/404Error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500error.jsp</location>
    </error-page>
    
</web-app>
